$lightBlack : #1B1C21;
$darkBlack : #141518;
$white : #FDFCFF;
$primaryPurple : #6100E0;
$secondaryGreen : #29BF12;
$secondaryRed : #F21B3F;
$secondaryBlue : #0361FF;
$grey: #AEAEAE;

.form-page{
    display: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .form{
        width: 600px;
        display: inline-block;
        margin-top: 60px;
        border: 1px solid $lightBlack;
        border-radius: 20px;
        height: 430px;
        grid-column: 2/3;
        label::after {
            content: "*";
            width: 1.5em;
            margin-right: 1.5em;
            color: $secondaryRed;
        }

        h3{
            display: inline-block;
            margin-top: 30px;
            margin-left: 173px;
            margin-bottom: 0;
            padding: 0;
        }

        .emailLabel{
            margin-left: 55px;
            display: inline-block;
            margin-top: 25px;
            margin-bottom: 0;
            padding: 0;
            
        }

        .emailInput{
            width: 500px;
            height: 50px;
            margin-left: 45px;
            display: inline-block;
            margin-top: 15px;
            margin-bottom: 0;
            padding: 0;
            padding-left: 10px;
            border-radius: 10px;
            font-weight: 400;
            font-size: 22.5px;
            line-height: 27px;
        }

        .password-label{
            display: inline-block;
            margin-top: 20px;
            margin-left: 55px;
            margin-bottom: 0;
            padding: 0;
        }
        
        .password-input{
            width: 500px;
            height: 50px;
            margin-left: 45px;
            display: inline-block;
            margin-top: 15px;
            margin-bottom: 0;
            padding: 0;
            padding-left: 10px;
            border-radius: 10px;
            font-weight: 400;
            font-size: 22.5px;
            line-height: 27px;
        }

        .submitButton{
            display: inline-block;
            width: 514px;
            margin-top: 30px;
            margin-left: 45px;
            height: 50px;
            border: 0px;
            border-radius: 10px;
            margin-bottom: 0;
            padding: 0;
            color: $white;
            background-color: $secondaryBlue;
            cursor: pointer;
        }
        
    }

    
}