.form-page{
    display: 100%;
    height: 780px;
    display: grid;
    margin-left: 100px;
    margin-right: 100px;

    grid-template-columns: 1fr 1fr 1fr;

    .form{
        width: 600px;
        display: inline-block;
        wrap: flex-wrap;
        margin-top: 70px;
        border: 1px solid;
        border-radius: 20px;
        height: 507px;
        grid-column: 2/3;

        label::after {
            content: "*";
            width: 1.5em;
            margin-right: 1.5em;
            color: red;
        }

        .welcome{
        display: inline-block;
          margin-top: 50px;
          margin-left: 173px;
          margin-bottom: 0;
          padding: 0;
        }

        .emailLabel{
            margin-left: 65px;
            display: inline-block;
            margin-top: 30px;
            margin-bottom: 0;
            padding: 0;
        }

        .emailInput{
            width: 500px;
            height: 60px;
            margin-left: 50px;
            display: inline-block;
            margin-top: 15px;
            margin-bottom: 0;
            padding: 0;
        }

        .password-label{
            display: inline-block;
            margin-top: 30px;
            margin-left: 65px;
            margin-bottom: 0;
            padding: 0;
        }
        
        .password-input{
            width: 500px;
            height: 60px;
            margin-left: 50px;
            display: inline-block;
            margin-top: 15px;
            margin-bottom: 0;
            padding: 0;
        }

        .submitButton{
            display: inline-block;
            width: 500px;
            margin-top: 40px;
            margin-left: 50px;
            height: 60px;
            border-radius: 10px;
            margin-bottom: 0;
            padding: 0;
        }
        
    }

    
}