$secondaryBlue : #0361FF;
$white : #FDFCFF;

.modal{
    top: 0px;
    width: 100vW;
    position: fixed;
    padding: 0;
    padding-top: 50px;
    background-color: rgba(27, 28, 33, 0.3);  
    backdrop-filter: blur(5px);
    .cancel{
        background: transparent;
        border: 0px;
        position: absolute;
        left: 300px;
    }

    .addTask{
        margin: auto;
        padding: 30px;
        width: 600px;
        background-color: #FDFCFF;
        border: 1px solid #1B1C21;
        border-radius: 20px;
        overflow: hidden;
        span{
            display: flex;
            justify-content: space-around;
            margin-bottom: 20px;
        }
        form{
            width: 500px;
            margin: auto;
            label{
                margin-bottom: 15px;
                padding-left: 15px;
            }
            label::after {
                content: "*";
                width: 1.5em;
                margin-right: 1.5em;
                color: #F21B3F;
            }
            select{
                margin: 15px 0px;
                width: 500px;
                font-size: 22.5px;
                padding-left:  15px;
                height: 50px;
                border-radius: 10px;
                border: 1px solid #1B1C21;
            }
            input{
                margin: 15px 0px;
                padding-left:  15px;
                width: 482px;
                font-size: 22.5px;
                height: 50px;
                border: 1px solid #1B1C21;
                border-radius: 10px;
            }
            button{
                width: 500px;
                margin-top: 20px;
                height: 50px;
                border: 0px;
                border-radius: 10px;
                margin-bottom: 0;
                color: $white;
                background-color: $secondaryBlue;
                cursor: pointer;
            }
        }
    }
}