$lightBlack : #1B1C21;
$darkBlack : #141518;
$white : #FDFCFF;
$primaryPurple : #6100E0;
$secondaryGreen : #29BF12;
$secondaryRed : #F21B3F;
$secondaryBlue : #0361FF;
$grey: #AEAEAE;

h3{
    margin: 0;
}

.border{
    border: 2px solid #AEAEAE;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    // box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.employee-dashboard{
    display: grid;
    grid-template-columns: 60% auto;
    row-gap: 45px;
    column-gap: 20px;
    margin: 50px 100px;

    .today-task{
        display: grid;
        grid-template-areas:    'h3 edit addtask''alltask alltask alltask'; 
        grid-auto-rows: min-content;
        .h3{
            height: 50px;
            grid-area: h3;
        }
        .edit{
            height: 50px;
            grid-area: edit;
        }
        .addtask{
            height: 50px;
            grid-area: addtask;
        }
        .alltask{  
            margin-top: 20px; 
            grid-area: alltask;
        }
        button{
            float: right;
            height: 47px;
            color: #FDFCFF;
            border: 0px;
            border-radius: 10px;
        }
        .edit-button{
            width: 145px;
            background-color: #AEAEAE;
        }
        .add-button{
            width: 151px;
            margin-right: 15px;
            background-color: #0361FF;
        }
    }
    .today-graph{
        .h3{
            height: 50px;
            grid-area: h3;
        }
    }

    .weekly-graph{
        .h3{
            height: 50px;
            grid-area: h3;
        }
    }

    .select-graph{
        .h3{
            height: 50px;
            grid-area: h3;
        }
        .border{
            form{
                margin-left: 157.95px;
                margin-bottom: 15px;
            }
        }
        
    }
}