.nav{
    margin-left: 100px;
    margin-right: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    .logos{

        grid-column:  2/3;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;

        .singleElement{
            display: flex;
            
            h2{
                padding-left: 10px;
            }
        }
    }

    .display-mode{
        grid-column: 3/4;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        align-items: center;
    }

}