form{
    border: 1px solid black;
    width: 628px;
    margin: auto;
    border-radius: 20px;
    padding: 50px 30px 50px 30px;
}


label::after {
    content: "*";
    width: 1.5em;
    margin-right: 1.5em;
    color: red;
}

input{
    width: 600px;   
    border-radius: 10px;
}

.addNew{
    margin: auto;
}