$lightBlack : #1B1C21;
$darkBlack : #141518;
$white : #FDFCFF;
$primaryPurple : #6100E0;
$secondaryGreen : #29BF12;
$secondaryRed : #F21B3F;
$secondaryBlue : #0361FF;
$grey: #AEAEAE;

.admin{
    .top-part{

        display: grid;
        margin-top: 50px;
        margin-left: 120px;
        margin-right: 120px;
        margin-bottom: 30px;
        grid-template-columns: 648px 648px;
        button{
            margin-left: 444px;
            margin-right: 0px;
            height: 47px;
            width: 204px;
            background-color: #0361FF;
            padding: 5px 15px;
            border: 0px;
            border-radius: 10px;
            color: #FDFCFF;
            cursor: pointer;
        }
    }
}